:root {
    --main-color: orange;
}

.wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

/* COMMON STYLES START*/
.section-header {
    text-align: center;
    margin-bottom: 55px;
}

.section-header__title {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 28px;
}

.section-header__description {
    font-family: Lato, sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #4D4943;
    margin-bottom: 46px;
}

.section-header__line {
    width: 62px;
    height: 7px;
    margin: 0 auto;
    background: linear-gradient(0deg, #F1AD1D, #F1AD1D), var(--main-color);
}

/* COMMON STYLES END*/

/* HEADER START */
.header {
    position: relative;
    height: 900px;
    /*background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../imgs/background/header.png);*/
    background-image: url(../imgs/background/header.png);
    background-size: 100% 100%;
    margin-bottom: 71px;
}

/*.header::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background: rgba(0,0,0,0.6);*/
/*}*/

.header__content {
    position: relative;
    color: red;
    border: 2px solid orange;
    text-align: center;
    font-size: 4rem;
}
/* HEADER END */

/* AWARDS START */
.awards__logo {
    width: 281px;
    margin: 0 auto;
}

.awards__logo-img {
    width: 100%;
    height: 241px;
}

/* AWARDS END */

/* NAV START */
.nav-wrapper {
    border-bottom: 3px solid #F1B128;
    overflow: hidden;
}
.nav-logo {
    float: left;
    font-family: 'Monserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #F1B128;
    text-transform: uppercase;
}

.nav-menu {
    float: right;
    list-style: none;
}

.nav-item {
    display: inline-block;
    padding: 0.5em 35px 1em;
    color: #3D3D3D;
    text-transform: uppercase;
}

.nav-item:hover {
    color: #F1B128;

}

/* NAV END */


.placeholder {
    height: 500px;
}

/*STAFF STARTS HERE*/
.staff-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1px;
}

.staff-container-item {
    box-sizing: border-box;
    width: calc(100% / 6);
    padding: 0 1px;
}

.staff-container-item-content {
    background-image: url('../imgs/staff photos/Diana.png');
    box-sizing: border-box;
    height: 178px;
    background-size: 100% 100%;
    padding: 119px 0 0 12px;
    margin-bottom: 2px;
}

.staff-container-item-content__name {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 50px 15px 17px;
    background: #333333;
    color: #FFF;
}

.IC__name_part2 {
    color: #ff843e;
}

/*STAFF ENDS HERE*/

/*SERVICES START HERE*/
.text-orange {
    color: #F1AD1D;
}

.services-grid-container {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 34px;
    grid-template-rows: repeat(6, minmax(min-content, auto));
}

.services__item-title {
    padding: 24px 0 17px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background: #333333;
}

.services__service-icon {
    text-align: center;
    padding: 30px 0;
}

.services__descr-para {
    text-align: center;
    color: #505050;
    margin-bottom: 24px;
}

.services__service-dec-line {
    width: 66px;
    height: 6px;
    margin: 0 auto 27px;
    background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
}

.services__services-list {
    box-sizing: border-box;
    padding-bottom: 35px;
    border-bottom: 6px solid #333333;
    color: #505050;
}


.services__services-list__subtitle {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    padding-bottom: 13px;
}

.services__services-list__item {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 8px;
}


/*SERVICES END HERE*/

