@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../assets/full_page_01.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
    margin: 0 auto;
}
.header-text {
    width: 1169px;
    margin: 0 auto;
    padding-top: 531px;
 }
p{
    margin: 0;
    padding: 0;
}
.htext1, .htext2, .htext3{
    color: white;
}
.htext1 {
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    margin: 150px 0 10px;
}
.htext2{
    font-family: Lato, sans-serif;
    margin: 10px 0 10px;
}
.htext3 {
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 54px;
    display: block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.firstSection {
    width: 1169px;
    margin: 0 auto;
    text-align: center;
}

.sectionHead_title {
    font: 22pt Montserrat, "Myriad CAD" ;
    text-transform: uppercase;
    margin: 72px 0 32px;
}

.sectionHead_desc {
    font: 17pt Lato, sans-serif;
}

.sectionLine {
    width: 60px;
    border: 2px solid #f1ad1d;
    margin-top: 52px;
}

.block3_content {
    margin: 57px auto 0;
    font-size: 0;
}

.yellowtext{
    color: #f1ad1d;
    font-weight: 800;
}


.block3Images {
    display: inline-block;
    width: 570px;
    height: 318px;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

.block3Images-pic {
    width: 270px;
    height: 148px;
    float: left;
    margin-right: 30px;
}

.block3Images-pic:nth-child(2n) {
    margin-right: 0;
}

.block3Images-pic:first-child,
.block3Images-pic:nth-child(2) {
    margin-bottom: 22px;
}

.first-pic {
    background: url("../assets/Layer%2024@1X.png");
    position: relative;
}

.second-pic {
    background: url("../assets/Layer%2024@1X.png");
    position: relative;
}

.third-pic {
    background: url("../assets/Layer%2025@1X.png");
    position: relative;
}

.forth-pic {
    background: url("../assets/Layer%2026@1X.png");
    position: relative;
}

.block3-btn {
    width: 117px;
    padding-top: 16px;
    padding-left: 14px;
    font-size: 14px;
    position: absolute;
    left: 13px;
    bottom: 11px;
    color: white;
    background-color: #333333;

}



.block3text{
    display: inline-block;
    vertical-align: top;
    width: 550px;
    /*margin-left: 30px;*/
    padding: 0;
    text-align: justify;
    font: 14px Lato ;
    color: #333;
    line-height: 20px;
}
/*.splitImg{
    margin: 15px;
}*/

.block3_title{
    font:  18px Montserrat;
    text-transform: uppercase;
    margin: 0 0 26px;
    font-weight: 800;
}
.my-button{
    border: 0;
    width: 176px;
    height: 51px;
    color: white;
    font: 12px Lato, sans-serif;
    background-color: #f1ad1d;
    display: block;
    margin-top: 34px;
    cursor: pointer;
}
/* SECTION4 */

.section4 {
    padding: 0 215px;
    padding-bottom: 60px;
    margin-top: 60px;
}

.section4-title {
    color: rgba(51, 51, 51, 255);
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 35px;
}

.section4-subtitle {
    text-align: center;
    margin-bottom: 50px;
    color: rgba(77, 73, 67, 255);
}

.section4-content {
    margin-top: 46px;
}

.section4-card {
    display: inline-block;
    width: 270px;
    margin-right: 18px;
}

.section4-card:last-child {
    margin-right: 0;
}

.card-title {
    background: #333333;
    height: 56px;
    text-align: center;
    line-height: 56px;
    font-size: 18px;
}

.card-text-white {
    color: white;
}

.card-text-yellow {
    color: #f1ad1d;
}

.card-text {
    height: 75px;
    overflow: auto;
}

.card-text,
.card-bottom-title {
    color: rgba(80, 80, 80, 255);
    text-align: center;
}

.card-image {
    height: 110px;
}

.card-icon {
    text-align: center;
    line-height: 110px;
}
.card-icon i {
    vertical-align: middle;
}

.yellow-line {
    width: 64px;
    height: 3px;
    background: #f1ad1d;
    margin: 26px auto;
}

.card-bottom-title {
    font-weight: 400;
    font-size: 22px;
    margin: 0;
    margin-bottom: 16px;
}

.card-bottom-content {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(80, 80, 80, 255);
    margin: 0;
}

.card-bottom-line {
    height: 3px;
    background: #333333;
    margin-top: 34px;
}

.section5-content {
    overflow: auto;
    width: 1200px;
    margin: 53px auto 0;
}

.section5-img {
    width: 193px;
    height: 178px;
    margin: 1px;
    float: left;
}

.section5-person {
    display: inline-block;
    margin: 121px 0 0 15px;
    padding: 15px 52px 13px 15px;
    background-color: #333333;
}

.section5-text {
    font: 400 14px ﻿Lato-Regular, ﻿OpenSans, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    color: rgba(255, 255, 255, 1);
}

.text-yellow {
    color: #f1ad1d;
}

.section5-img-t1 {
    background-image: url("../assets/team/imageTeam.png");
}

.section5-img-t2 {
    background-image: url("../assets/team/imageTeam2.png");
}

.section5-img-t3 {
    background-image: url("../assets/team/imageTeam3.png");
}

.section5-img-t4 {
    background-image: url("../assets/team/imageTeam4.png");
}

.section5-img-t5 {
    background-image: url("../assets/team/imageTeam5.png");
}

.section5-img-t6 {
    background-image: url("../assets/team/imageTeam6.png");
}

.section5-img-t7 {
    background-image: url("../assets/team/imageTeam7.png");
}

.section5-img-t8 {
    background-image: url("../assets/team/imageTeam8.png");
}

.section5-img-t9 {
    background-image: url("../assets/team/imageTeam9.png");
}

.section5-img-t10 {
    background-image: url("../assets/team/imageTeam10.png");
}

.section5-img-t11 {
    background-image: url("../assets/team/imageTeam11.png");
}

.section5-img-t12 {
    background-image: url("../assets/team/imageTeam12.png");
}

/*section 6 */
.section6 {
    margin-top: 152px;
}

.section6-title {
    color: rgba(51, 51, 51, 255);
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 35px;
}

.section6-subtitle {
    text-align: center;
    margin-bottom: 50px;
    color: rgba(77, 73, 67, 255);
}

.section6-content {
    width: 1170px;
    margin: 88px auto 0;
    font-size: 0;
}

.section6-content-box {
    width: 370px;
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

.section6-content-box:last-child {
    margin-right: 0;
}

.quotes {
   position: relative;
}

.quotes-yellow-line {
    width: 305px;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 11px;
    background-color: #f1ad1d;
}

.quotes-yellow-line::before {
    content: "";
    display: block;
    position: relative;
    top: -37px;
    left: -65px;
    width: 52px;
    height: 48px;
    background: url(../assets/quotes.png);
}

.section6-content-text {
    margin-top: 19px;
}

.section6-content-text p {
    margin: 0;
    font: lighter 14px Lato, sans-serif;
    color: #5b5b5b;
}

.black-line {
    width: 370px;
    height: 3px;
    margin-top: 29px;
    background-color: black;
}

.person {
    margin-top: 15px;
    font-size: 0;
}
.person-pic {
    width: 56px;
    display: inline-block;
    margin-right: 13px;
}

.person-desc {
    display: inline-block;
    font-size: 14px;
    font-family: Lato, sans-serif;
}

.person-name {
    color: #4c4c4c;

}

.person-job {
    color: #9d9d9d;
}


/* section 7 */

.section7 {
    margin-top: 267px;

}

.section7-title, .section7-title2 {
    color: rgba(51, 51, 51, 255);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.section7-subtitle {
    text-align: center;
    margin-bottom: 50px;
    color: rgba(77, 73, 67, 255);
}



.yellow-line {
    width: 64px;
    height: 3px;
    background: #f1ad1d;
    margin: 26px auto;
}

.section7-subscribe {
    margin-top: 55px;
    text-align: center;
    margin: 0 auto;
    /* допилить общую рамку!! */
}
.section7-send_submitbutton {
    background-color: #f1ad1d;
    color: white;
    width: 172px;
    height: 64px;
    font-size: 18px;
    border: none;
    margin-left: -4px;
}
.section7-send_email{
    width: 770px;
    height: 58px;
    text-indent: 30px;
    font-size: 18px;
}

.title2 {
    margin-top: 177px;
}

.section7-block {
    margin: 0 auto;
    width: 1108px;
    margin-top: 44px;
}
.section7-send {
    width: 571px;
}

.section7-send_header {
    background-color: #333333;
    width: 380px;
    height: 56px;
    font-size: 18px;
    color: white;
    padding-left: 15px;
    padding-top: 22px;

}
.sectoin7-yellow-text {
    color: #f1ad1d;
    font-size: 18px;
}
.section7-send_header2 {
    font-size: 14px;
    color: #505050;
    margin-left: 1px;
    margin-top: 23px;
}
.section7-send_block-name-email {
    margin-top: 26px;
}
.section7-send_block-email, .section7-send_block-name {
    width: 270px;
    height: 43px;
    text-indent: 12px;
    font-style: oblique;
}
.section7-send_block-email {
    float: right;
    font-size: 14px;

}
.section7-send_block-textarea {
    margin-top: 22px;
    margin-bottom: 24px;
}

.section7-send_block-button input{
    cursor: pointer;
}

.section7-send_block-textarea textarea {
    width: 100%;
    height: 184px;
    resize: none;
    display: block;
    box-sizing: border-box;
    font-style: oblique;
    padding-left: 12px;
    padding-top: 18px;
}
.section7-send_block-reset, .section7-send_block-send {
    background-color: #f1ad1d;
    color: white;
    width: 118px;
    height: 43px;
    font-size: 14px;
    border: none;
    font-weight: bold;
}

/* SECTION 8 */
.section8 {
    margin-bottom: 60px;
}

.section8-title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.section8-subtitle {
    text-align: center;
    color: rgba(77, 73, 67, 255);
    margin-bottom: 50px;
}

.flex-images {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* SECTION 9 */

.section9-title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.section9-subtitle {
    text-align: center;
    color: rgba(77, 73, 67, 255);
    margin-bottom: 50px;
}

.section9-navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 60px;
}

.section9-links {
    display: block;
    border: 1px solid #333;
    padding: 0 40px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #333;
    margin: 0 17px;
    transition: 0.1s all ease-in-out;
}

.section9-links:hover {
    background: #333;
    color: #f1ad1d;
}

.section9-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section9-image {
    margin: 8px;
    flex-basis: 281px;
    cursor: pointer;
    height: 281px;
}

.section9-block {
    border: 1px solid #333;
    padding: 0 26px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section9-block-title {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.section9-block-text {
    color: rgba(91, 91, 91, 1);
}

.section9-block-btn {
    margin-top: 30px;
    background: #f1ad1d;
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 15px 36px;
    cursor: pointer;

}
.section10-cards{
    width: 1170px;
    height: 742px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.section10-card{
    width: 370px;
}

.section10-card:nth-child(even){
    margin-top: 10px;
}
.s10-card-pic1{
    height: 181px;
    background-image: url("../assets/section10-pic1.png");
    background-repeat: no-repeat;
}
.s10-card-pic2{
    height: 208px;
    background-image: url("../assets/section10-pic2.png");
    background-repeat: no-repeat;
}
.s10-card-pic3{
    height: 208px;
    background-image: url("../assets/section10-pic3.png");
    background-repeat: no-repeat;
}
.s10-card-pic4{
    height: 45px;
    background: #000;
}

.s10-card-pic5{
    height: 208px;
    background-image: url("../assets/section10-pic5.png");
    background-repeat: no-repeat;
}
.s10-card-pic6{
    height: 157px;
    background: #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
.s10-card-pic6::after{
    content: '';
    width: 52px;
    height: 48px;
    display: block;
    position: absolute;
    background-image: url("../assets/section10-pic88.png");
    bottom: 16px;
    right: 26px;
}

.s10-card-quote{
    font-size: 26px;
    font-style: italic;
    color: #bcbcbc;
}
.s10-card-auth{
    font-size: 12px;
    color: #bcbcbc;
    
}

.s10-card-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    height: 37px;
    line-height: 37px;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 3px solid black;
}
.s10-text-head{
    margin-left: 9px;
    font-weight: bold;
    font-size: 18px;

}
.s10-text-content{
    font-size: 14px;
    margin-top: 16px;
}

.s10-card-sq{
    width: 36px;
    height: 32px;
    background-color: #333333;

}
.s10-card-title{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.section-9-wrap {
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
}

.section9-image {
    position: relative;
}

.backside {
    transition: all 3s ease-in;

    /*z-index: -1;*/
    background: #fff;
    transform: rotateX(180deg);
}

.frontside {
    transition: all 2s ease-in;

    /*z-index: 1;*/
}

.section9-image:hover .frontside {
    transform: rotateX(90deg);
    /*
    z-index: -1;
    */
}

.section9-image:hover .backside {
    transform: rotateX(0deg);
}