.shared {
    text-align: center;
    margin-bottom: 55px;
}
.shared__title {
    background-image: url('https://www.bmw.ua/content/dam/bmw/common/all-models/5-series/sedan/2020/highlights/bmw-5-series-sedan-highlights-sp-xxl.jpg.asset.1590490849670.jpg');
    margin: 0;
    margin-bottom: 28px;
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    font-family: Montserrat;
}

.shared__text {
    margin: 0;
    margin-bottom: 46px;
    color: #4D4943;
    font-family: Lato;
    font-size: 17px;
    line-height: 24px;
    transition: 0.4s;
}

.shared__text:hover {
    //font-size: 30px;
    //display: none;
}

.shared__line {
    width: 62px;
    height: 7px;
    margin: 0 auto;
    background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
}

.img {
    width: 281px;
    height: 241px;
}


.flex {
    display: flex;
}

.image {
    width: 200px;
    height: 100px;
    background-size: 100% 100%;
    background-image: url('https://www.bmw.ua/content/dam/bmw/common/all-models/5-series/sedan/2020/highlights/bmw-5-series-sedan-highlights-sp-xxl.jpg.asset.1590490849670.jpg');
}
