@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --main-font-family: Roboto, serif;
    --secondary-font-family: 'Playfair Display', serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    padding: 30px 0;
}

.wrapper {
    max-width: 700px;
    width: 100%;
    margin: auto;
}

.header {
    padding: 0 15px;
    margin-bottom: 56px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 20px;
}

.header__box {
    height: 100%;
}

.header__box--logo {
    display: flex;
    align-items: center;
}

.header__box--nav {
    display: none;
    flex: 1;
}

.header-nav {
    display: flex;
    margin: 0 -30px;
    list-style-type: none;
}

.header-nav__item {
    padding: 0 30px;
    font-family: var(--main-font-family);
    font-size: 14px;
    line-height: 16px;
    color: #555248;
}

.header-nav__item--selected {
    color: #A69876;
}

@media all and (min-width: 600px) {
    .header__content {

    }

    .header__box--nav {
        display: block;
    }
}

.header__box--actions {
    display: flex;
    align-items: center;
    margin: 0 -11px;
}

.header__action {
    padding: 0 11px;
}

.header__action--selected {
    position: relative;
}

.header__action--selected::after {
    position: absolute;
    right: 6px;
    top: -2px;
    width: 13px;
    z-index: 1;
    padding: 2px 0;
    border-radius: 50%;
    content: '1';
    font-family: var(--main-font-family);
    font-size: 8px;
    line-height: 9px;
    text-align: center;
    color: #1B1A17;
    background: #E6C8B4;


}

.header__title {
    padding-left: 3px;
    font-family: var(--secondary-font-family);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.14em;
    color: #555248;
}

.logo {
    width: 20px;
    height: 20px;
}

.icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.breadcrumbs {
    padding: 0 15px;
    margin-bottom: 37px;
}

.breadcrumbs__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs__link {
    color: #B3B3B3;
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
}

.breadcrumbs__link::after {
    padding: 0 14px;
    content: '\2192';
}

.breadcrumbs__item:last-child .breadcrumbs__link {
    color: #555248;
}

.breadcrumbs__item:last-child .breadcrumbs__link::after {
    content: '';
    padding: 0;
}

