* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padding-wrapper {
    padding: 0 20px;
}
ul, ol {
    list-style-type: none;
}
@font-face{
    font-family: 'MyriadPro-Regular';
    src: url(../fonts/MyriadPro-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'MyriadPro-Regular', sans-serif;
}
.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}
.logo-md {
    padding: 20px 0;
    box-sizing: border-box;
}

.top {
    text-align: center;
    background: #222f3a;
}
.top .menu li {
    width: 100%;
    line-height: 30px;
    cursor: pointer;
    padding: 5px;
}

.top .menu li:hover {
    background: #9d9d9d;
}
.top li a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-transform: capitalize;
    }
.top li {
    background: #222f3a;
    text-align: center;
}
.aside {
    padding: 20px 0;
    margin: 0;
}
.aside {
    border: 1px solid #35444f;
    color: #aab1b6;
    font-size: 27px;
    text-decoration: none;
    text-transform: capitalize;
    list-style-type: none;
}
.aside li a {
    color: #485863;
    text-decoration: none;
}
.aside li {
    background: #dbdbdb;
    display: block;
    line-height: 50px;
    cursor: pointer;
}

.aside li:hover {
    padding-left: 20px;
    border-bottom: 1px solid;
}
.aside li:hover a {
    color: red;
}
.picture {
    border: 1px solid #35444f;
    padding: 20px;
    transition: 0.1s;
    text-align: center;
}
.top-img {
    height: auto;
    margin: auto;
    width: 80%;
    cursor: pointer;
}

.top-img:hover {
    transform: scale(1.05);
}
.text-content {
    line-height: 32px;
    font-size: 18px;
}

footer {
}
.bottom {
    padding: 20px;
    background: #b4b7ba;
}

.menu {
    margin-bottom: 40px;
}

.bottom .menu li {
    line-height: 50px;
}
.bottom li a {
    color: #0c1927;
    font-size: 28px;
    text-decoration: none;
    text-transform: capitalize;
}
.bottom li a:hover {
    color: #3181a6;
    text-decoration:underline;
}
.copy {
    text-align: right;
    font-size: 24px;
}

@media all and (min-width: 996px) {
    .menu {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .top .menu li {
        display: flex;
        width: 22%;
    }

    .top .menu li a {
        margin: auto;
    }
}
