.header-btn {
  // базовые стили для кнопки

  &--inverse {
    // кнопка с инверсией
  }


  &--primary {
    // кнопка аналог бутстрапа
  }


  &--secondary {
    // кнопка аналог бутстрапа
  }


  &--danger {
    // кнопка аналог бутстрапа
  }

  &--rounded {
    // кнопка с закругленными краями
  }
}

