@import "../vars";

.header {
  color: $main-color;
  text-align: center;
}

.header__title {
  margin-bottom: 28px;
  font-family: Arial;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
}

.header__description {
  margin-bottom: 45px;
  font-family: SansSerif;
  font-size: 17px;
  line-height: 24px;
  color: darken($main-color, 5%);
}

.header__separator {
  margin: 0 auto;
  width: 62px;
  height: 7px;
  background: $secondary-color;
}
