@import "../vars";
@import "../mixins";

.human__header {
  margin-bottom: 51px;
}

.human__list {

}

.human-item {
  position: relative;
  height: 178px;
  margin-bottom: 2px;
}

.human-item--cline {
  background-size: cover;
  background-image: url('../imgs/background.png');
}

.human-item__content {
  position: absolute;
  top: 120px;
  left: 10px;
  padding: 15px 30px 15px 15px;
  max-width: calc(100% - 20px);
  box-sizing: border-box;
  background: $main-color;
}

.human-item__description {
  @include text--cutted;
  font-family: Arial;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.human-item__description-text--selected {
  color: $secondary-color;
}

.list {
  display: flex;
  list-style-type: none;

  &__item {
    flex: 1;
    padding: 20px;
    background: green;
    color: white;

    &:hover {
      color: blue;
    }
  }
}

@media all and (min-width: 500px) {
  .human__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .human-item {
    width: 49.8%;
  }
}

@media all and (min-width: 800px) {
  .human-item {
    width: 24.8%;
  }
}

@media all and (min-width: 1200px) {
  .human-item {
    width: 16.60%;
  }
}
