.section__ideas {
    display: flex;
}

.form {
    max-width: 600px;
}

.form__group {
}

.form__group-flex {
    display: flex;
    justify-content: space-between;
}

.form__header {
    background: #333333;
    width: 383px;
    padding: 24px 17px 17px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
}

.form__header--link {
    color: orange;
    text-decoration: none;
}

.form__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
}

.form__input {
    padding: 17px 14px 10px;
    box-sizing: border-box;
    max-width: 274px;
    outline: none;
}

.form__textarea {
    width: 574px;
    height: 187px;
}
