.input {
    width: 300px;
    height: 50px;
    display: inline-block;
    position: relative;
    margin: 10px;
}

.input__label {
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: 18px;
    color: grey;
    top: 14px;
    left: 15px;
    transition: all 0.3s;
    z-index: -1;
}

.input__field {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid grey;
    outline: none;
    font-size: 20px;
    line-height: 20px;
    background: transparent;
}

.input__field:focus + .input__label, .input__field:valid + .input__label {
    font-size: 10px;
    top: -8px;
    background: white;
    left: 8px;
    box-sizing: border-box;
    padding: 3px 7px;
    z-index: 1;
}


.select {
    width: 300px;
    height: 50px;
    display: inline-block;
    position: relative;
    margin: 10px;
}

.select__label {
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: 18px;
    color: grey;
    top: 14px;
    left: 15px;
    transition: all 0.3s;
    z-index: -1;
}

.select__field {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid grey;
    outline: none;
    font-size: 20px;
    line-height: 20px;
    background: transparent;
}

.select__field:focus {
    z-index: 0;
}

.select__field:focus + .select__label,
.select__field:valid + .select__label {
    font-size: 10px;
    top: -8px;
    background: white;
    left: 8px;
    box-sizing: border-box;
    padding: 3px 7px;
    z-index: 3;
}

.select__options {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    opacity: 0;
    border-radius: 6px;
    z-index: -1;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid grey;
    transition: height 0.2s;
    overflow: auto;
}

.select__options-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.select__options-item {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.1s;
}

.select__options-item:hover {
    background: #cbc9c9;
}

.select__field:focus ~ .select__options {
    z-index: 2;
    height: 150px;
    background: white;
    opacity: 1;
}
