* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.header {
    padding: 0;
    background-color: #1d2124;
}
.logo {
}
.logo-img {
    background-color: #1a1d20;
    border: 1px solid  #1a1d20;
    width: 70px;
    height: 70px;
    margin: 0;
    padding-left: 18px;
    padding-top: 18px;
}
.logo-title {
    font-size: 22px;
    color:#fff;
    font-weight: bold;
    margin-left: 27px;
}
.search {
    background-color: #1a1d20;
    border: 1px solid  #1a1d20;
    width: 70px;
    height: 70px;
    margin: 0;
    padding-left: 28px;
    padding-top: 22px;
}
.nav {
    font-size: 15px;
}
.nav-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 37px;
}
.nav-link:first-child {
    margin-left: 0;
}
i {
    color: #fff;
}
.news {
    background: url("../img/html_css_homework_homework6_img_header-bg.jpeg") no-repeat  fixed center bottom 50px;
    background-size: cover;
    height: 446px;
    overflow: hidden;
}
.news p {
    text-align: center;
    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
    word-spacing: 2px;
    margin-bottom: 44px;
    padding: 0 20px;
    box-sizing: border-box;
}
.buttons {
}

button {
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    text-align: center;
    text-transform: capitalize;
    padding: 18px 50px;
}
.subscribe-now {
    border: 1px solid #89ca62;
    background-color: #89ca62;
}
.best-articles {
    border: 1px solid #14b9d5;
    background-color: #14b9d5;
}
.posts {
}
.posts-section-title h2 {
    font-size: 27px;
    color: #18b4cf;
    font-weight: bold;
    padding: 52px 0;
    text-transform: uppercase;
    text-align: center;
}
.photo {
    text-align: center;
    font-weight: bold;
    margin: 0 10px 30px;
    background-color: #fff;
}
.posts-section {
    background: #f2f2f2;
}
.photo p {
    padding: 20px 0;
    color: #353a3d;
    font-size: 18px;
}
.photo img {
    vertical-align: middle;
}
.clients-bg {
    background: url("../img/html_css_homework_homework6_img_parallax-bg.jpeg") no-repeat center bottom -100px;
    background-size: cover;
}
.clients {
    margin: 0 auto;
    min-height: 590px;
    width: 880px;
}


h1 {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
h1::after {
    content: "";
    display: block;
    width: 60px;
    margin: 50px auto;
    border-bottom: 2px solid #169cb4;
}
.item1 {
    text-align: center;
}
.item2 {
}
.item3 {
}
.item4 {
}
.item5 {
}
.top {
}

.top-images {
}

.top-images img{
}

.top img {
    vertical-align: middle;
    width: 100%;

}
.hot-news {
}
.news-title {
    font-size: 18px;
    font-weight: 700;
    color: #353a3d;

}
.news-item-small {
    text-align: center;
}
.hot-news-font {
    color: #5b6469;
    font-size: 14px;
    font-weight: 600;
    margin-top: 24px;
}

.news-container-one {
    text-align: center;
}
.news-container-two{
    text-align: center;
}
.news-container-three {

}
.news-container-four{

}
.news-container-five {

}
.news-container-six{
}
.news-container-seven {
}
.news-container-eight{
    text-align: center;
}
.news-item-medium {
}
.footer-content {
    padding: 34px 0;
    color: #fff;
}
.footer {
    background-color: #1d2124;
    margin-top: 71px;
}
.news-item-big {
    text-align: right;
}
.description {
    padding: 25px;
}
.description-small {
    padding: 10px;
}
.news-item-big, .news-item-medium, .news-item-small {
    background-color: #f9f7f7;
}
