//p {
//    color: red;
//}
//
//.description {
//    color: green;
//}
//
//#description {
//    color: purple;
//}
//
//ul li {
//    background: gray;
//}
//
//ul > li {
//    background: blue;
//}
//
//ul + ol {
//    background: orange;
//}
//
//ul ~ ol {
//    color: red;
//}

