.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.section {
    display: flex;
    flex-wrap: wrap;
    background: #9d9d9d;
    margin: 0 -20px;
    padding: 20px;
    box-sizing: border-box;
}
// mobile => tablet => desktop
// desktop => tablet => mobile
@media all and (max-width: 900px) {
    .section {
        background: red;
    }
}

@media all and (max-width: 500px) {
    .section {
        background: green;
    }
}


div {
    width: 100%;
}

@media all and (min-width: 700px) {
    div {
        width: 50%;
    }
}

@media all and (min-width: 1080px) {
    div {
        width: 25%;
    }
}


.section__item {
    box-sizing: border-box;
    width: 25%;
    padding: 0 20px;
}

@media all and (max-width: 500px) {
    .section {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.main {
    padding: 20px 30px;
    box-sizing: border-box;
    background: white;
    text-align: center;
    margin-bottom: 20px;
}

.main__image {
    width: 33%;
}

.main__action {
    padding: 5px 20px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    background: orange;
}

@media screen and (max-width: 768px) {
    .main {
        width: 45%;
    }
}

@media screen and (max-width: 500px) {
    .main {
        width: 100%
    }

    .main__description {
        display: none;
    }
}
