.section {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background: #9d9d9d;
    padding: 20px;
    box-sizing: border-box;
}

.main {
    padding: 20px 30px;
    box-sizing: border-box;
    background: white;
    text-align: center;
    margin-bottom: 20px;
}

.main__image {
    width: 33%;
}

.main__action {
    padding: 5px 20px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    background: orange;
}

.main__description {
    display: none;
}
// 0....499 => none
// 500... 899 => block
// 900 + => block
@media all and (min-width: 500px) {
    .section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main {
        width: 45%;
    }
    .main__description {
        display: block;
        max-height: 30px;
        overflow: auto;
    }
}

@media all and (min-width: 900px) {
  .main {
        width: 22%;
    }
}






